<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarouselAssignment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57101D2A1BE72E780039A3D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57101D3E1BE72E780039A3D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57101D491BE72E780039A3D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
